@{
    //import file Layout.cshtml vào đây
    Layout = "~/Areas/Admin/Views/Shared/Layout.cshtml";
}
@using project.Models
@using X.PagedList.Mvc.Core
@using System.IO
@model X.PagedList.IPagedList<ItemNews>

@functions {
    public MyDbContext db = new MyDbContext();    
}

<div class="col-md-12">
    <div style="margin-bottom:5px;">
        <a href="/Admin/News/Create" class="btn btn-primary">Create</a>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading">List News</div>
        <div class="panel-body">
            <table class="table table-bordered table-hover">
                <tr>
                    <th style="width:100px;">Photo</th>
                    <th>Name</th>
                    <th style="width:70px;">Hot</th>
                    <th style="width:150px;"></th>
                </tr>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @if (!String.IsNullOrEmpty(item.Photo))
                            {
                                <img src="~/Upload/News/@item.Photo" style="width:100px;">
                            }
                        </td>
                        <td>@item.Name</td>
                        <td style="text-align:center;">
                            @if (item.Hot == 1)
                            {
                                <span class="fa fa-check"></span>
                            }
                        </td>
                        <td style="text-align:center;">
                            <a href="/Admin/News/Update/@item.Id">Update</a>&nbsp;
                            <a href="/Admin/News/Delete/@item.Id" onclick="return window.confirm('Are you sure?');">Delete</a>
                        </td>
                    </tr>
                }
            </table>
            <style type="text/css">
                .pagination {
                    padding: 0px;
                    margin: 0px;
                }
            </style>
            @Html.PagedListPager(Model, p => Url.Action("Read","News", new{p}))
        </div>
    </div>
</div>