@{
    Layout = "~/Views/Shared/LayoutTrangChu.cshtml";
}
<div class="container">

	<div class="row" style="margin-top:15px;">
		<div class="col-lg-4 col-sm-6 col-md-6 col-xs-12">
			<h2 class="box-title">Contact Detail</h2>
			<div class="wrap-icon-box">

				<div class="icon-box-item">
					<i class="fa fa-envelope" aria-hidden="true"></i>
					<div class="right-info">
						<b>Email</b>
						<p>Support1@Mercado.com</p>
					</div>
				</div>

				<div class="icon-box-item">
					<i class="fa fa-phone" aria-hidden="true"></i>
					<div class="right-info">
						<b>Phone</b>
						<p>0123-465-789-111</p>
					</div>
				</div>

				<div class="icon-box-item">
					<i class="fa fa-map-marker" aria-hidden="true"></i>
					<div class="right-info">
						<b>Mail Office</b>
						<p>Sed ut perspiciatis unde omnis<br />Street Name, Los Angeles</p>
					</div>
				</div>

			</div>
		</div>
		<div class="col-lg-8 col-sm-6 col-md-6 col-xs-12">
			<!-- google map -->
			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3723.8346096347605!2d105.77081187389597!3d21.039302687419045!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x313454b5534fb3bf%3A0x70d71b071349fa94!2sDevPro%20Vietnam!5e0!3m2!1sen!2s!4v1699451588018!5m2!1sen!2s" style="border:0; width:100%; height:400px;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
			<!-- /google map -->
		</div>
		<!--end main products area-->

	</div><!--end row-->

</div><!--end container-->