@{
    Layout = "~/Views/Shared/LayoutTrangTrong.cshtml";
}
<div class="wrap-product-detail" style="margin-top:-60px;">
    <div class="advance-info">
        <div class="tab-control normal">
            <a href="#description" class="tab-control-item active">News</a>
        </div>
        <div class="tab-contents">
            <div class="tab-content-item active" id="description">
                <div><img src="~/Upload/News/@Model.Photo" class="img-responsive" /></div>
                @Html.Raw(Model.Description)
                @Html.Raw(Model.Content)
            </div>
        </div>
    </div>
</div>