@{
    //import file Layout.cshtml vao day
    Layout = "~/Areas/Admin/Views/Shared/Layout.cshtml";
}
@{
    string _Name = Model != null ? Model.Name : "";
    string _Email = Model != null ? Model.Email : "";
}
<div class="col-md-12">
    @if (!String.IsNullOrEmpty(Context.Request.Query["notify"]))
    {
        <div class="alert alert-danger">Email đã tồn tại!</div>
    }
    <div class="panel panel-primary">        
        <div class="panel-heading">Add edit user</div>
        <div class="panel-body">
            <form method="post" action="@ViewBag.action">
                <!-- rows -->
                <div class="row" style="margin-top:5px;">
                    <div class="col-md-2">Name</div>
                    <div class="col-md-10">
                        <input type="text" value="@_Name" name="Name" class="form-control">
                    </div>
                </div>
                <!-- end rows -->
                <!-- rows -->
                <div class="row" style="margin-top:5px;">
                    <div class="col-md-2">Email</div>
                    <div class="col-md-10">
                        <input type="email" value="@_Email" name="Email" class="form-control" required>
                    </div>
                </div>
                <!-- end rows -->
                <!-- rows -->
                <div class="row" style="margin-top:5px;">
                    <div class="col-md-2">Password</div>
                    <div class="col-md-10">
                        <input type="password" name="password" @if(Model != null){<text> placeholder="Không đổi password thì không nhập thông tin vào ô textbox này"</text>} class="form-control">
                    </div>
                </div>
                <!-- end rows -->
                <!-- rows -->
                <div class="row" style="margin-top:5px;">
                    <div class="col-md-2"></div>
                    <div class="col-md-10">
                        <input type="submit" value="Process" class="btn btn-primary">
                    </div>
                </div>
                <!-- end rows -->
            </form>
        </div>
    </div>
</div>