@{
    Layout = "~/Views/Shared/LayoutTrangChu.cshtml";
}
<div class="container">

	<div class="row" style="margin-top:50px;">
		<div class="col-lg-6 col-sm-6 col-md-6 col-xs-12 col-md-offset-3">
			@if (!String.IsNullOrEmpty(Context.Request.Query["notify"]) && Context.Request.Query["notify"] == "invalid")
			{
				<div class="alert alert-danger">Đăng nhập không thành công</div>
			}
			<div class=" main-content-area">
				<div class="wrap-login-item ">
					<div class="login-form form-item form-stl">
						<form name="frm-login" action="/Account/LoginPost" method="post">
							<fieldset class="wrap-title">
								<h3 class="form-title">Log in to your account</h3>
							</fieldset>
							<fieldset class="wrap-input">
								<label for="frm-login-uname">Email Address:</label>
								<input type="text" id="frm-login-uname" name="Email" placeholder="Type your email address">
							</fieldset>
							<fieldset class="wrap-input">
								<label for="frm-login-pass">Password:</label>
								<input type="password" id="frm-login-pass" name="Password" placeholder="************">
							</fieldset>
							<input type="submit" class="btn btn-submit" value="Login" name="submit">
						</form>
					</div>
				</div>
			</div><!--end main products area-->
		</div>
	</div><!--end row-->

</div>